<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the page</h1>
    <h3><%= 1 + 2 %></h3>
    <button>touch me</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ad eveniet optio voluptates, recusandae laudantium nam repellat cum aliquid ullam sint, incidunt repellendus assumenda et beatae similique quibusdam? Mollitia, voluptas?</p>
</body>
</html>